<div>
	<h2>Transaction History</h2>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Date</th>
				<th>Transaction Number</th>
				<th>Description</th>
				<th>Deposit</th>
				<th>Withdraw</th>
				<th>Balance</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let transaction of transactions | async">
				<td>{{transaction.date | date:"MM/dd/yyyy hh:mm:ss a"}}</td>
				<a routerLink="/transaction-detail/{{transaction.id}}">
					<td>{{transaction.id}}</td>
				</a>
				<td>{{transaction.memo}}</td>
				<td *ngIf="transaction.deposit">{{transaction.amount | minusSignToParentheses }}
				</td>
				<td *ngIf="transaction.deposit"></td>
				<td *ngIf="transaction.withdraw"></td>
				<td *ngIf="transaction.withdraw">{{transaction.amount |minusSignToParentheses }}
				</td>
				<td>{{transaction.balance | minusSignToParentheses }}</td>
			</tr>
		</tbody>
	</table>
</div>