<div>
	<h2>Make a Transaction</h2>
	<div>
		<h4>Balance: ${{balance | async}}</h4>
		<br>
		<div class="amount mb-3">
			<label>Amount: $</label>
			<input [(ngModel)]="amount" type="number" placeholder="100.00" >
	</div>
			<div class="memo mb-3">
				<label>Memo: </label>
				<textarea [(ngModel)]="memo" placeholder="Placeholder memo" rows="3" cols="30"></textarea>
			</div>
			<button (click)="this.addTransactionDeposit(amount, memo)">Deposit</button>
			<button (click)="this.addTransactionWithdraw(amount, memo)">Withdraw</button>
		</div>
		<br>
		<br>
		<h4>Most Recent Transactions</h4>
		<div>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Date</th>
						<th>Transaction Number</th>
						<th>Description</th>
						<th>Deposit</th>
						<th>Withdraw</th>
						<th>Balance</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let transaction of transactions | async; let i=index">
						<td *ngIf="i>9">{{transaction.date | date:"MM/dd/yyyy hh:mm:ss a"}}</td>
						<a routerLink="/transaction-detail/{{transaction.id}}">
							<td *ngIf="i>9">{{transaction.id}}</td>
						</a>
						<td *ngIf="i>9">{{transaction.memo}}</td>
						<td *ngIf="transaction.deposit && i>9">{{transaction.amount | minusSignToParentheses }}
						</td>
						<td *ngIf="transaction.deposit && i>9"></td>
						<td *ngIf="transaction.withdraw && i>9"></td>
						<td *ngIf="transaction.withdraw && i>9">{{transaction.amount |minusSignToParentheses }}
						</td>
						<td *ngIf="i>9">{{transaction.balance | minusSignToParentheses }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>